<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/customerupdate.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCgRwhCf9oEyEFwTF8VrHhKMp4INLd3rgY",
      authDomain: "project-2-477ff.firebaseapp.com",
      projectId: "project-2-477ff",
    };
    firebase.initializeApp(config);
  
  </script>
  <title>Home Page</title>
</head>

<body>
<<<<<<< HEAD
  <!--Navbar-->
{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <button type="button" id="customerdatabaseNav" class="btn btn-primary"
        onclick="location.href = 'http://localhost:3000/';">
        Customer Database
      </button>

      <button type="button" id="cardatabaseNav" class="btn btn-primary"
        onclick="location.href = 'http://localhost:3000/cars';">
        Vehicle Database
      </button>

    </div>
  </div>
  <form class="form-inline">

    <input class="form-control mr-sm-2 flexdatalist key-word" id="search-bar" type="search" placeholder="Search"
      aria-label="Search" list='currency' name="currnecy">
    <button type="button" class="btn btn-outline-success my-2 my-sm-0 search-bar" id="search-btn">Search</button>
  </form>
</nav> --}}
=======

>>>>>>> 4719602173955926178bd7b040039d96ea0c8391
  {{{body}}}
</body>

</html>