<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card" style="width: 100%;">
          <img src={{car.image}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{car.model}}e</h5>
            <p class="card-text">{{car.year}}.{{car.make}}</p>
            <a href="#" class="btn btn-primary">Manage this car</a>
          </div>
        </div>
        <a href="/cars">← Back To Cars</a>
      </div>
    </div>
  </div>
</div>
</div>