<div id="account-page">
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="first-container">
      <h1 class="display-4 text-center">Create A New Accout!</h1>
      <p class="lead text-center">Please Enter A New Username and Password</p>
      <a class="btn btn-primary" id="homepage-btn" href="/homepage" role="button">Home Page</a>
    </div>
    
</div>

 <div class="auth">
    <form>
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="userName" id="inputUsername" class="form-control mx-sm-3" aria-describedby="userNameHelpInline">
      </div>
    <br>
      <div class="form-group">
        <label for="inputPassword">New Password</label>
        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
        <small id="passwordHelpInline" class="text-muted">
          Must be 4-8 characters long.
        </small><br>
        <br>
        <label for="inputPassword">Re-Type New Password</label>
        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
      </div>
      <button id="sign-in" type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>

</div>

