<div id="account-page">
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="first-container">
      <h1 class="display-4 text-center">Log In To Your Accout</h1>
      <p class="lead text-center">Please Enter Your Email and Password</p>
    </div>

  </div>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div>
</div>

<script>

  var ui = new firebaseui.auth.AuthUI(firebase.auth());

  var uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function (authResult, redirectUrl) {
        window.location.href = '/'

        return true;
      },
      uiShown: function () {
        document.getElementById('loader').style.display = 'none';
      }
    },
    signInFlow: 'popup',
    signInSuccessUrl: '/',
    signInOptions: [
      firebase.auth.EmailAuthProvider.PROVIDER_ID,
    ],
  };
  ui.start('#firebaseui-auth-container', uiConfig);

</script>