<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>{{msg}}</h1>

            <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                    <label for="customer-name">Customer Name</label>
                    <input type="text" id="customer-name" class="form-control" aria-describedby="customer-name"
                        placeholder="Enter Customer Name">
                </div>
                {{!-- <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div> --}}
                <button id="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</div>