<div id="home-page">
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Car Rental Home Page!</h1>
      <p class="lead text-center">Please Enter Your Username and Password First!</p>
    </div>
  </div>
  <br>
  <div class="auth">
    <form>
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="userName" id="inputUsername" class="form-control mx-sm-3" aria-describedby="userNameHelpInline">
      </div>
    <br>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
        <small id="passwordHelpInline" class="text-muted">
          Must be 4-8 characters long.
        </small>
      </div>
      <button id="sign-in" type="submit" class="btn btn-primary">Sign in</button>
     <a class="btn btn-primary" href="/createaccount" role="button">Create A New Account</a>
    </form>
  </div>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">