<section id="search" class="search-wrap">
  <h1>Searching placeholder title</h1>
  <form action="/routes/apiRoutes.js/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="seach" name="term" placeholder="Search for a customer or vehicle">
    <input type="submit" value="Search">
  </form>
</section>