.list-group-item {
  line-height: 2.5;
}

<<<<<<< HEAD
 #home-page, #account-page {
   height: 100%;
   background-image: url(car.jpg);
   background-repeat: no-repeat, repeat;
   background-size: 100%;
   
 }
.first-container {
  text-align: center;
}

 body, html {
   height: 100%;
 }
 .auth {
   margin: auto;
   width: 30%;
 }
 #sign-in {
   float: right;
 }
=======
  #home-page {

   font-family: "Times New Roman", Times, serif;
   color: white;
 
 }
.jumbotron {
  background-image: url(car.jpg);
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.first-container {
  text-align: center;
  
}

 body {
   background-color: beige;
   height: 100%;
 }
>>>>>>> 4719602173955926178bd7b040039d96ea0c8391


.carthumb {
  width:100px;
  height:100px;
<<<<<<< HEAD
}
=======

}

.car-card {
  float:left;
  margin-bottom: 10px;
}
>>>>>>> 4719602173955926178bd7b040039d96ea0c8391
