.list-group-item {
  line-height: 2.5;
}

  #home-page {

   font-family: "Times New Roman", Times, serif;
   color: white;
 
 }
.jumbotron {
  background-image: url(car.jpg);
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.first-container {
  text-align: center;
  
}

 body {
   background-color: beige;
   height: 100%;
 }


.carthumb {
  width:100px;
  height:100px;
}
