.list-group-item {
  line-height: 2.5;
}

  #home-page {

   font-family: "Times New Roman", Times, serif;
   color: white;
   margin: auto;
   
   
 }
.jumbotron {
  background-image: url(car.jpg);
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.first-container {
  text-align: center;
  
}

 body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px; 
   background-color: rgb(225, 225, 225);
   height: 100%;
   margin: auto;  
 }


.carthumb {
  width:100px;
  height:100px;

}

.car-card {
  float:left;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  }
  .create-customer {
    margin: 5%;  
  }
 
  #car-card {
    width: 18rem;
  }